<form-component></form-component>
<kendo-grid
          [data]="view | async"
          [pageSize]="pageSize"
          [skip]="skip"
          [pageable]="true"
          [sortable]="{ mode: 'multiple' }"
          [sort]="sort"
        >
        <kendo-grid-column field="ProductID" width="100"></kendo-grid-column>
        <kendo-grid-column field="ProductName" width="200">
          <template kendoCellTemplate let-dataItem let-rowIndex="rowIndex">
              Row: {{rowIndex}} / {{dataItem.ProductName}}
              {{dataItem.Discontinued ? 'inactive' : 'active'}}
          </template>
        </kendo-grid-column>
        <kendo-grid-column field="UnitsInStock">
            <template kendoFooterTemplate let-column>
                {{getTotalUnits()}}
                {{column.field}}
            </template>
        </kendo-grid-column>
        <template kendoDetailTemplate let-dataItem>
          <section *ngIf="!dataItem.Discontinued">
            <header>Qty: {{dataItem.QuantityPerUnit}}</header>
            <article>Price: {{dataItem.UnitPrice}} &pound;</article>
          </section>
          <section *ngIf="dataItem.Discontinued">
              <h4>Item is Discontinued!</h4>
          </section>
        </template>
      </kendo-grid>